@font-face {
  font-family: Dosis;
  font-display: swap;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Dosis;
  font-display: swap;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #131313;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: "", sans-serif;
  font-weight: 400;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  scrollbar-width: 0.5rem;
  scrollbar-color: #131313 #d6d6d6;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  border: 0 none #fff;
  background-color: #2d2d2d;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #131313;
}

body {
  min-width: 320px;
}

body .lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page [data-observ] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: transparent;
  pointer-events: none;
}

.page_start {
  padding-top: 6.25rem;
}

[class*=__container] {
  max-width: 74.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  width: 100%;
  background-color: #2B4074;
}

.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.menu-btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #2B4074;
  border-radius: 1px;
  top: 15px;
  left: 15px;
  -webkit-box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
          box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

.container {
  padding: 0 20px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 300ms ease 0ms;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .head {
  background: url("./../images/background-header.png"); }

.head {
  min-height: 193px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-slider__item {
  color: #fff;
  min-height: 193px;
  text-align: center;
}

.top-slider__title {
  font-family: "RobotoCondensed";
  line-height: 400;
  font-size: 28px;
  line-height: 28px;
  color: #fff;
  padding: 50px 0 28px;
  text-transform: uppercase;
  max-width: 243px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.top-slider__title::after {
  content: "";
  width: 61px;
  height: 8px;
  position: absolute;
  background-color: #4A4A4A;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.top-slider__text {
  font-size: 0;
  line-height: 18px;
}

.top-slider .more__button {
  display: none;
  border: none;
  background: #2B4074;
  padding: 15px 45px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0 auto 113px;
  text-transform: uppercase;
}

.top-slider .slick-arrow {
  width: 56px;
  height: 56px;
  border: none;
  position: absolute;
  right: 0;
  z-index: 5;
}

.top-slider .slick-next {
  background: #f9f6e5;
  top: calc(50% - 56px);
}

.top-slider .slick-prev {
  background: #2B4074;
  bottom: calc(50% - 56px);
}

.top-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476E4D;
}

.top-slider .slick-dots button {
  width: 10px;
  height: 10px;
  border: none;
  background-color: #2B4074;
  border-radius: 50%;
  margin: 10px;
  font-size: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  padding: 1.25rem 0;
  background: #131313;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i {
  width: 23px;
}

.call {
  width: 100%;
  max-height: 301px;
  background: #2B4074;
  text-align: center;
}

.call__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  padding-top: 40px;
}

.call__text {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  margin-top: 10px;
}

.call__btn {
  padding: 15px 16px;
  background: #f9f6e5;
  border-radius: 3px;
  color: #2B4074;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  margin: 40px auto;
  text-transform: uppercase;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.services {
  padding: 25px 0 40px;
  text-align: center;
  position: relative;
}

.services__title {
  color: #2B4074;
}

.services__descr {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4A4A4A;
  margin-bottom: 21px;
}

.services__text {
  margin-bottom: 40px;
}

.services__text,
.services__item-text {
  color: #797979;
}

.services__items {
  margin: 40px auto;
}

.services__item {
  min-height: 310px;
  padding: 13px;
  border: 1px solid #f9f6e5;
}

.services__item:not(:first-child) {
  border-top: none;
}

.services__item-img {
  margin: 48px 0 25px;
}

.services__item-title {
  font-family: "RobotoCondensed";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4A4A4A;
  margin-bottom: 22px;
  text-transform: uppercase;
  text-align: center;
}

.services__item-text {
  font-family: "Dosis";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #797979;
  margin-bottom: 17px;
  margin-top: 30px;
  display: none;
}

.services__item-link {
  font-family: "RobotoCondensed";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2B4074;
  text-transform: uppercase;
  display: none;
}

.services__item-inner {
  text-align: center;
}

.services__item-img {
  margin-top: 70px;
}

.services__item:hover .services__item-inner {
  -webkit-box-shadow: 0 0 0 4px #2B4074;
          box-shadow: 0 0 0 4px #2B4074;
  min-height: 277px;
}

.services__item:hover .services__item-text,
.services__item:hover .services__item-link {
  display: block;
}

.services__item:hover .services__item-img {
  margin-top: 20px;
}

.projects {
  background: -webkit-gradient(linear, left top, left bottom, from(#2B4074), to(rgba(43, 64, 116, 0)));
  background: -o-linear-gradient(top, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
  position: relative;
}

.projects__title {
  color: #fff;
  padding: 20px 0;
}

.projects .title::after {
  background: #fff;
}

.projects__inner {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  position: relative;
}

.project__item {
  background-position: center;
  background-size: cover;
  min-height: 250px;
  min-width: 280px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__item .project__img-inner {
  min-width: 253.88px;
  min-height: 226.99px;
  border-radius: 4px;
  background: rgba(249, 246, 229, 0.6);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__item .project__img-inner img {
  padding: 7.5px;
}

.project__item:hover .project__img-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__text {
  margin: 20px 0;
  text-align: center;
}

.project__text a {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2B4074;
  text-align: center;
}

.team {
  background: #fff;
  position: relative;
  padding-bottom: 185px;
  padding-top: 40px;
  margin-top: 20px;
}

.team__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.team__img img {
  max-width: 281.08px;
  max-height: 243.88px;
}

.team__title {
  color: #4A4A4A;
}

.team .title::after {
  background: #2B4074;
}

.team__text {
  max-width: 280px;
  margin: 0 auto;
}

.team__text p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9b9b9b;
  text-align: center;
}

.team__btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 21px 26px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #f9f6e5;
  background: #2B4074;
  text-transform: uppercase;
  border-radius: 4px;
}

.news {
  background: #f9f6e5;
  padding: 40px 0;
}

.news__inner {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.news__item-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.news__item-title {
  padding: 8px 20px 12px;
  width: 270px;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.news__item-title h5 {
  font-family: "RobotoCondensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #4a4a4a;
}

.news__item {
  margin-bottom: 31px;
  height: 218px;
  display: inline-block;
}

.news__item:last-child {
  margin-bottom: 0;
}

.news__item-444 {
  height: 444px;
}

.news__item-341 {
  height: 341px;
}

.news__item-383 {
  height: 383px;
}

.news__item-210 {
  height: 210px;
}

.news__item-197 {
  height: 197px;
}

.news__item-218 {
  height: 218px;
}

.news__item-436 {
  height: 436px;
}

.title {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  text-align: center;
}

.title::after {
  content: " ";
  position: absolute;
  background: #2B4074;
  width: 100px;
  height: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }

  .container {
    padding: 0 30px;
  }

  .head {
    min-height: 386px;
  }

  .top-slider__item {
    min-width: 386px;
  }

  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 10px;
    margin: 0 auto 30px;
    max-width: 520px;
  }

  .top-slider .slick-dots {
    bottom: 50px;
  }

  .top-slider .more__button {
    display: inline-block;
  }

  .services__title::after {
    display: none;
  }

  .services__descr {
    font-size: 24px;
    line-height: 24px;
    position: relative;
    padding-bottom: 33px;
  }

  .services__descr::after {
    content: " ";
    position: absolute;
    background: #2B4074;
    width: 100px;
    height: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }

  .services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }

  .services__item {
    width: 50%;
    min-height: 310px;
  }

  .services__item:nth-child(2) {
    border-top: 1px solid #f9f6e5;
  }

  .services__item:nth-child(n+2) {
    border-left: none;
  }

  .projects__inner {
    padding-top: 40px;
  }

  .project {
    position: relative;
  }

  .project__item {
    min-height: 460px;
    min-width: 518px;
  }

  .project__item .project__img-inner {
    min-width: 460px;
    min-height: 418px;
  }

  .team__text {
    max-width: 520px;
  }

  .team__img img {
    min-width: 518px;
    min-height: 490px;
  }

  .title {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .top-slider__item {
    max-height: 465px;
  }

  .top-slider__title {
    padding-top: 87px;
  }

  .top-slider__title::after {
    display: none;
  }

  .top-slider__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    margin: 0 auto 32px;
    max-width: 674px;
  }

  .call {
    text-align: left;
  }

  .call__box {
    max-width: 408px;
  }

  .call__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px;
  }

  .call__title {
    padding-top: 0;
  }

  .call__btn {
    margin: 0;
  }

  .services {
    padding-top: 40px;
  }

  .services__descr {
    padding-bottom: 38px;
    margin-bottom: 34px;
  }

  .services__text {
    max-width: 607px;
  }

  .services__item {
    width: 50%;
    min-height: 334px;
  }

  .services__item:hover {
    min-height: 288px;
  }

  .projects {
    background: -webkit-gradient(linear, left top, left bottom, from(#2b4074), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, #2b4074 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, #2b4074 0%, rgba(255, 255, 255, 0) 100%);
  }

  .projects__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .project__item {
    min-height: 282px;
    min-width: 317px;
  }

  .project__item .project__img-inner {
    min-width: 287px;
    min-height: 256px;
  }

  .team {
    margin-top: 20px;
    padding-bottom: 160px;
  }

  .team .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .team .title {
    text-align: left;
  }

  .team .title::after {
    margin-left: 0;
  }

  .team__img {
    display: inline-block;
  }

  .team__img img {
    min-width: 240px;
    min-height: 227px;
  }

  .team__text {
    max-width: 407px;
  }

  .team__text p {
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }

  .team__btn {
    position: relative;
    bottom: -60px;
    left: 28%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .top-slider .top-slider__item {
    max-height: 618px;
  }

  .top-slider .top-slider__title {
    padding-top: 101px;
    letter-spacing: 2px;
  }

  .top-slider .top-slider .slick-dots {
    bottom: 80px;
  }

  .call__box {
    max-width: 650px;
  }

  .services {
    padding-top: 50px;
  }

  .services__descr {
    text-align: left;
  }

  .services__descr::after {
    left: 0;
    margin: 0;
  }

  .services__text {
    text-align: left;
  }

  .services__items {
    margin-top: 11px;
  }

  .services__item {
    width: 25%;
    min-height: 290px;
  }

  .services__item:nth-child(3),
  .services__item:nth-child(4) {
    border-top: 1px solid #f9f6e5;
  }

  .services__item:nth-child(5) {
    border-left: 1px solid #f9f6e5;
  }

  .services__item:hover .services__item-inner {
    min-height: 255px;
  }

  .projects__inner {
    max-width: 845px;
    margin: 0 auto;
  }

  .project__item {
    min-height: 317px;
    min-width: 282px;
  }

  .project__item .project__img-inner {
    min-width: 287px;
    min-height: 256px;
  }

  .team {
    margin-top: 20px;
    padding-bottom: 160px;
  }

  .team .title {
    text-align: left;
  }

  .team .title::after {
    margin-left: 0;
  }

  .team__img img {
    min-width: 401px;
    min-height: 380px;
  }

  .team__text {
    max-width: 407px;
  }

  .team__text p {
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .top-slider .top-slider__item {
    max-height: 668px;
  }

  .top-slider .top-slider__title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
  }

  .top-slider .top-slider__text {
    font-size: 24px;
    line-height: 24px;
  }

  .services {
    padding: 0;
    margin: 0;
  }

  .services .container {
    min-width: 1440px;
  }

  .services__items {
    margin: 0;
  }

  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .services__head {
    max-width: 393px;
    margin-right: 28px;
    margin-left: 62px;
    margin-top: 60px;
  }

  .services__title {
    margin-top: 10px;
  }

  .services__descr {
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 38px;
    margin-bottom: 32px;
  }

  .services__descr,
  .services__text {
    width: 351px;
  }

  .projects__inner {
    min-width: 1138px;
    margin: 0 auto;
  }

  .project__item {
    min-height: 243px;
    min-width: 217px;
  }

  .project__item .project__img-inner {
    min-width: 287px;
    min-height: 256px;
  }

  .team {
    margin-top: 20px;
    padding-bottom: 160px;
  }

  .team .title {
    text-align: left;
  }

  .team .title::after {
    margin-left: 0;
  }

  .team__img {
    display: inline-block;
  }

  .team__img img {
    min-width: 470px;
    min-height: 430px;
  }

  .team__text {
    max-width: 407px;
  }

  .team__text p {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }
}

@media (max-width: 510.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.webp .head { background: url(./../images/background-header.webp); }